body,
html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first_page {
    background-image: url("../images/wallpaper_utku.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_medias{
    display: flex;
    position: absolute;
    top: 10%;
}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 10%;
    font-size: 30px;
    color: #BE5D56;
    border: 1px solid #BE5D56;
    width: 60px;
    height: 60px;
    margin: 20px;

}

.social_media:hover{
color: #B57578;
border-color: #B57578;
}

.my_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_info>h1 {
    color: #BE5D56;
    font-size: 120px;
    text-align: center;
}

.my_info>h2 {
    color: #BE5D56;
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    bottom: 10%;
    position: absolute;
    font-size: 30px;
    color: #BE5D56;
    border: 1px solid #BE5D56;
    width: 60px;
    height: 60px;

}

.down:hover{
    color: #BE5D56;
}


/*  */

.second_page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BE5D56;
    position: relative;
}

.second_page>h1 {
    color: #fff;
    font-size: 120px;
    writing-mode: vertical-rl;
    position: absolute;
    right: 0;
    top: 0px;
    letter-spacing: 8px;

}

.introductory-section {
    display: flex;
    padding: 10px;
    justify-content: center;


}

.section {
    padding: 20px;
    -webkit-box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.31);
    border: 1px solid transparent;
    border-radius: 1vw;
}

.section-proje-1 {
    background-color: #C3C4BA;
}

.section-proje-1-mobil {
    background-color: #6F5F62;
}

.section-proje-2 {
    background-color: #908380;
}

.section-proje-2-mobil {
    background-color: #B1A79D;
}

.section-proje-3 {
    background-color: #AE9A9B;
}

.section-proje-3-mobil {
    background-color: #AB8C99;
}

.promotion {
    display: flex;
    width: 100%;
    height: 100%;
}

.promotion> a > img {
    width: 100%;
    height: 100%;
    
}


@media only screen and (max-width: 1700px){
.second_page > h1 {
    writing-mode: horizontal-tb;
    position: inherit;
    
}

.second_page{
    align-items: center;

}
}

@media only screen and (max-width: 992px){
    .second_page > h1 {
        font-size: 60px;
        
    }
}