body {
  background-image: url(../img/desktop/stars.png), url(../img/desktop/world.png);
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: auto, auto;
  height: 900px;
}

.promotion_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10.313rem;
  margin-top: 15.688rem;
  div {
    &:nth-child(1) {
      h2 {
        font-size: 1.75rem;
        color: #d0d6f9;
        letter-spacing: 0.295rem;
        padding-bottom: 1.5rem;
        font-family: 'Barlow Condensed', sans-serif;
      }
      h1 {
        font-size: 9.375rem;
        color: #fff;
        padding-bottom: 1.5rem;
      }
      p {
        font-size: 1.125rem;
        color: #d0d6f9;
        white-space: pre-line;
        font-family: 'Barlow Condensed', sans-serif;
        line-height: 32px;
      }
    }
    &:nth-child(2) {
      padding: 7.375rem 3.938rem;
      background-color: #fff;
      border-radius: 50%;
      span {
        font-size: 2rem;
      }
    }
  }
}
