// pages
@import "../.main";

body {
  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../../img/crew/background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.title{
  margin-bottom: 0;
}

.crew {
  display: flex;
  margin-left: 10.406rem;
 > div {
    &:nth-child(1) {
      margin-top: 9.625rem;
      width: 60%;
     > div {
        &:nth-child(1) {
          h4 {
            font-size: 2rem;
            color: #ffffff;
            opacity: 0.5;
            text-transform: uppercase;
            margin-bottom: 0.938rem;
          }
          h3 {
            font-family: "Bellefair";
            font-size: 3.5rem;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 1.688rem;
          }
          p {
            width: 60%;
            font-family: "Barlow";
            font-size: 1.125rem;
            color: #d0d6f9;
            margin-bottom: 7.5rem;
          }
        }
        &:nth-child(2) {
          display: flex;
          span {
            margin-right: 1.5rem;
            width: 0.938rem;
            height: 0.938rem;
            background-color: #ffffff;
            border: 1px solid transparent;
            border-radius: 50%;
            opacity: 0.17;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 8rem;
      img {
        width: auto;
      }
    }
  }
}

.active-slider {
  opacity: 1 !important;
}

// tablet

@media screen and (max-width: 768px) {
  body {
    &::before {
      background-image: url(../../img/crew/mobil-bg.jpg);
    }
  }

  .crew {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    div {
      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        width: 100%;
        div {
          &:nth-child(1) {
            h4 {
              margin-bottom: 0.5rem;
              font-size: 1.5rem;
            }
            h3 {
              font-size: 2.5rem;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1rem;
              margin-bottom: 2.5rem;
            }
          }
          &:nth-child(2) {
            margin-bottom: 2.5rem;
            span {
              width: 0.625rem;
              height: 0.625rem;
            }
          }
        }
      }
      &:nth-child(2) {
        text-align: center;
        right: auto;

        img {
          width: 80%;
        }
      }
    }
  }
}

// Mobil
@media screen and (max-width: 375px) {
  .crew {
    flex-direction: column-reverse;
    margin: 0 1.5rem;
    > div {
      &:nth-child(1) {
        flex-direction: column-reverse;
        div {
          &:nth-child(1) {
            h4 {
              font-size: 1rem;
            }
            h3 {
              font-size: 1.5rem;
            }
            p {
              font-size: 0.938rem;
              margin-bottom: 0;
              width: 100%;
              text-align: center;
            }
          }
          &:nth-child(2) {
            margin-bottom: 2rem;
            margin-top: 2rem;
            span {
              width: 0.625rem;
              height: 0.625rem;
            }
          }
        }
      }
      &:nth-child(2) {
        text-align: center;
        position: unset;
        img {
          width: auto;
          height: 13.938rem;
          border-bottom: 1px solid #383b4b;
        }
      }
    }
  }
}
