@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
body {
  margin: 0;
  font-family: "Bellefair";
  font-weight: 400; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body p,
  body span {
    font-weight: 400;
    margin: 0;
    padding: 0; }
  body a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif; }
    body a:hover {
      color: #fff;
      border-bottom: 3px solid rgba(255, 255, 255, 0.5); }
      @media screen and (max-width: 375px) {
        body a:hover {
          border-right: 3px solid rgba(255, 255, 255, 0.5);
          border-bottom: 0 !important; } }

header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header > div:nth-child(1) {
    margin: 4rem 4rem 4rem 3.438rem; }
  header > div:nth-child(2) {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; }
    header > div:nth-child(2) span {
      position: absolute;
      margin: 4rem 0;
      height: 2px;
      width: 107%;
      background-color: #ffffff;
      opacity: 0.25;
      z-index: 10; }
  header > div:nth-child(3) {
    display: flex;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px); }
    header > div:nth-child(3) a {
      padding: 2.438rem 0;
      font-size: 1rem;
      color: #fff;
      margin-right: 3rem; }
      header > div:nth-child(3) a:first-child {
        margin-left: 7.688rem; }
      header > div:nth-child(3) a:last-child {
        margin-right: 10.313rem; }
      header > div:nth-child(3) a span {
        font-size: 1rem;
        padding-right: 0.75rem;
        font-weight: 700; }
  header > div:nth-child(4) {
    display: none; }

.active-index {
  border-bottom: 3px solid #fff; }
  @media screen and (max-width: 375px) {
    .active-index {
      border-right: 3px solid #fff;
      border-bottom: 0; } }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 13px; } }
@media only screen and (max-width: 992px) {
  html {
    font-size: 10px; } }
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px; }

  header div:nth-child(1) {
    margin: 1.5rem 1.5rem 1.5rem 2.438rem; }
  header div:nth-child(2) {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; }
    header div:nth-child(2) span {
      display: none; }
  header div:nth-child(3) a {
    font-size: 0.875rem;
    margin-right: 2.313rem; }
    header div:nth-child(3) a:first-child {
      margin-left: 3rem; }
    header div:nth-child(3) a:last-child {
      margin-right: 2.875rem; }
    header div:nth-child(3) a span {
      display: none; }

  .title {
    margin: 2.5rem 0px 3.75rem 2.406rem !important; }
    .title h2,
    .title span {
      font-size: 1.25rem !important; } }
@media only screen and (max-width: 576px) {
  html {
    font-size: 12px; } }
@media only screen and (max-width: 375px) {
  html {
    font-size: 16px; }

  header div:nth-child(1) {
    margin: 2.063rem 1.5rem; }
  header div:nth-child(3) {
    display: none; }
  header div:nth-child(4) {
    display: block; }
    header div:nth-child(4) div:nth-child(1) {
      margin: 2.063rem 1.5rem; }
    header div:nth-child(4) div:nth-child(2) {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: 67.73%;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);
      display: none; }
      header div:nth-child(4) div:nth-child(2) > div {
        display: flex;
        flex-direction: column;
        padding-top: 7.375rem;
        padding-left: 2rem;
        margin: 0; }
        header div:nth-child(4) div:nth-child(2) > div a {
          font-size: 1rem;
          color: #fff;
          margin-bottom: 2rem;
          display: flex;
          letter-spacing: 0.169rem; }
          header div:nth-child(4) div:nth-child(2) > div a:nth-child(1) {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 2.863rem;
            margin-right: 1.7rem; }
          header div:nth-child(4) div:nth-child(2) > div a span {
            display: block;
            padding-right: 0.688rem;
            font-weight: 700; }

  .title {
    margin: 2.5rem 4.75rem 3.75rem 4.75rem !important;
    text-align: center; }
    .title h2,
    .title span {
      font-size: 1rem !important;
      letter-spacing: 2.7px !important; }
    .title span {
      padding-right: 1.125rem !important; } }
.title {
  margin-left: 10.688rem;
  color: #fff;
  display: flex;
  align-items: baseline;
  font-family: "Barlow Condensed";
  letter-spacing: 4.725px;
  margin-bottom: 4rem;
  text-transform: uppercase; }
  .title span {
    font-size: 1.75rem;
    color: #ffffff;
    opacity: 0.25;
    padding-right: 1.75rem; }
  .title h2 {
    font-size: 1.75rem;
    color: #ffffff; }

body::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../../img/destination/destinaiton_wallpaper.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1; }

#destination_section .destination_section_inner {
  display: flex; }
  #destination_section .destination_section_inner > div:nth-child(1) {
    margin-left: 14.375rem; }
  #destination_section .destination_section_inner > div:nth-child(2) {
    margin-right: 10.188rem;
    margin-left: 9.813rem; }
    #destination_section .destination_section_inner > div:nth-child(2) div {
      margin-bottom: 2.313rem; }
      #destination_section .destination_section_inner > div:nth-child(2) div a {
        margin-right: 2.25rem;
        font-family: "Barlow Condensed";
        letter-spacing: 2.7px;
        color: #d0d6f9;
        font-size: 1rem;
        padding-bottom: 0.75rem;
        text-transform: uppercase; }
        #destination_section .destination_section_inner > div:nth-child(2) div a:hover {
          border-bottom: 3px solid rgba(255, 255, 255, 0.5) !important;
          border-right: 0; }
    #destination_section .destination_section_inner > div:nth-child(2) h3 {
      font-family: "Bellefair";
      font-weight: 400;
      font-size: 6.25rem;
      color: #fff;
      text-transform: uppercase; }
    #destination_section .destination_section_inner > div:nth-child(2) p {
      color: #d0d6f9;
      font-family: "Barlow";
      font-size: 1.125rem;
      line-height: 32px;
      padding-bottom: 3.375rem;
      border-bottom: 1px solid #383b4b; }
    #destination_section .destination_section_inner > div:nth-child(2) > div {
      display: flex; }
      #destination_section .destination_section_inner > div:nth-child(2) > div div {
        display: flex;
        flex-direction: column;
        margin-right: 4.938rem; }
        #destination_section .destination_section_inner > div:nth-child(2) > div div:nth-child(1) span, #destination_section .destination_section_inner > div:nth-child(2) > div div:nth-child(2) span {
          text-transform: uppercase; }
          #destination_section .destination_section_inner > div:nth-child(2) > div div:nth-child(1) span:nth-child(1), #destination_section .destination_section_inner > div:nth-child(2) > div div:nth-child(2) span:nth-child(1) {
            font-family: "Barlow Condensed";
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 17px;
            letter-spacing: 2.3625px;
            color: #d0d6f9;
            margin-bottom: 0.75rem;
            margin-top: 1.75rem; }
          #destination_section .destination_section_inner > div:nth-child(2) > div div:nth-child(1) span:nth-child(2), #destination_section .destination_section_inner > div:nth-child(2) > div div:nth-child(2) span:nth-child(2) {
            font-family: "Bellefair";
            font-size: 1.75rem;
            line-height: 32px;
            color: #ffffff; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 11px; } }
@media only screen and (max-width: 992px) {
  .destination_section_inner > div:nth-child(1) {
    margin-left: 8.375rem !important; }
    .destination_section_inner > div:nth-child(1) img {
      width: 300px; } }
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px; }

  .destination_section_inner {
    flex-direction: column; }
    .destination_section_inner > div:nth-child(1) {
      margin: 0 !important;
      text-align: center;
      padding-bottom: 3.313rem; }
      .destination_section_inner > div:nth-child(1) img {
        width: 39%; }
    .destination_section_inner > div:nth-child(2) {
      display: flex;
      margin: 0 !important;
      flex-direction: column;
      align-items: center;
      padding: 0 6.125rem; }
      .destination_section_inner > div:nth-child(2) h3 {
        font-size: 5rem !important; }
      .destination_section_inner > div:nth-child(2) p {
        font-size: 1rem !important;
        text-align: center;
        padding-bottom: 3.063rem !important; }
      .destination_section_inner > div:nth-child(2) div {
        width: 100%;
        justify-content: center; }
        .destination_section_inner > div:nth-child(2) div div {
          margin: 0 !important;
          align-items: center; } }
@media only screen and (max-width: 496px) {
  html {
    font-size: 11px; } }
@media only screen and (max-width: 375px) {
  html {
    font-size: 16px; }

  .destination_section_inner > div:nth-child(1) {
    padding-bottom: 1.625rem !important; }
    .destination_section_inner > div:nth-child(1) img {
      width: 45.5%; }
  .destination_section_inner > div:nth-child(2) {
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem; }
    .destination_section_inner > div:nth-child(2) #planet_buttons a {
      margin: 0 1rem !important; }
    .destination_section_inner > div:nth-child(2) h3 {
      font-size: 3.5rem !important; }
    .destination_section_inner > div:nth-child(2) p {
      font-size: 0.938rem !important;
      padding-bottom: 2rem !important; }
    .destination_section_inner > div:nth-child(2) .planet_calculation {
      flex-direction: column; } }
.distance-active-index {
  border-bottom: 3px solid #fff; }

/*# sourceMappingURL=destination.css.map */
