// pages
@import "../.main";

body {
  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../../img/destination/destinaiton_wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

// desktop

#destination_section {
  .destination_section_inner {
    display: flex;
    > div {
      &:nth-child(1) {
        margin-left: 14.375rem;
        img {
        }
      }
      &:nth-child(2) {
        margin-right: 10.188rem;
        margin-left: 9.813rem;
        div {
          margin-bottom: 2.313rem;
          a {
            margin-right: 2.25rem;
            font-family: "Barlow Condensed";
            letter-spacing: 2.7px;
            color: #d0d6f9;
            font-size: 1rem;
            padding-bottom: 0.75rem;
            text-transform: uppercase;
            &:hover{
              border-bottom: 3px solid rgba(255, 255, 255, 0.5)!important;
              border-right: 0;
            }
          }
        }
        h3 {
          font-family: "Bellefair";
          font-weight: 400;
          font-size: 6.25rem;
          color: #fff;
          text-transform: uppercase;
        }
        p {
          color: #d0d6f9;
          font-family: "Barlow";
          font-size: 1.125rem;
          line-height: 32px;
          padding-bottom: 3.375rem;
          border-bottom: 1px solid #383b4b;
        }
        > div {
          display: flex;
          div {
            display: flex;
            flex-direction: column;
            margin-right: 4.938rem;
            &:nth-child(1),
            &:nth-child(2) {
              span {
                text-transform: uppercase;
                &:nth-child(1) {
                  font-family: "Barlow Condensed";
                  font-weight: 400;
                  font-size: 0.875rem;
                  line-height: 17px;
                  letter-spacing: 2.3625px;
                  color: #d0d6f9;
                  margin-bottom: 0.75rem;
                  margin-top: 1.75rem;
                }
                &:nth-child(2) {
                  font-family: "Bellefair";
                  font-size: 1.75rem;
                  line-height: 32px;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
html{
  font-size: 11px;
}
}

@media only screen and (max-width: 992px) {
  .destination_section_inner{
   > div{
      &:nth-child(1){
        margin-left: 8.375rem!important;
        img{
          width: 300px;
        }
      }
    }
  }
}

// tablet
@media only screen and (max-width: 768px) {
  html{
    font-size: 16px;

  }
  .destination_section_inner {
    flex-direction: column;
    > div {
      &:nth-child(1) {
        margin: 0 !important;
        text-align: center;
        padding-bottom: 3.313rem;
        img {
          width: 39%;
        }
      }
      &:nth-child(2) {
        display: flex;
        margin: 0 !important;
        flex-direction: column;
        align-items: center;
        padding: 0 6.125rem;

        h3 {
          font-size: 5rem !important;
        }
        p {
          font-size: 1rem !important;
          text-align: center;
          padding-bottom: 3.063rem !important;
        }
        div {
          width: 100%;
          justify-content: center;
          div {
            margin: 0 !important;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 496px) {
html{
  font-size: 11px;
}
}

// mobil
@media only screen and (max-width: 375px) {
  html{
    font-size: 16px;
  }
  .destination_section_inner {
    > div {
      &:nth-child(1) {
        padding-bottom: 1.625rem !important ;
        img {
          width: 45.5%;
        }
      }
      &:nth-child(2) {
        display: flex;
        margin: 0 !important;
        flex-direction: column;
        align-items: center;
        padding: 0 1.5rem;
        #planet_buttons{
          a{
            margin: 0 1rem!important;
          }
        }

        h3 {
          font-size: 3.5rem !important;
        }
        p {
          font-size: 0.938rem !important;
          padding-bottom: 2rem !important;
        }
        .planet_calculation{
          flex-direction: column;
        }
      }
    }
  }
}


.distance-active-index {
  border-bottom: 3px solid #fff;
}


