@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 22px;
  font-family: "Rubik", sans-serif; }
  @media only screen and (max-width: 1440px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 992px) {
    html {
      font-size: 10px; } }
  @media only screen and (max-width: 360px) {
    html {
      font-size: 16px !important; } }

body {
  margin: 0;
  overflow: hidden; }
  body h1,
  body h2,
  body h3,
  body h4 {
    margin: 0; }
  body input {
    font-family: "Rubik", sans-serif; }

.login_div > div {
  display: flex;
  justify-content: center;
  position: relative; }
  .login_div > div:nth-child(1) img {
    width: 100%; }
  .login_div > div > div:nth-child(2) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.611rem;
    width: 100%; }
    .login_div > div > div:nth-child(2) div:nth-child(1) h1 {
      color: #feffff;
      font-weight: 500;
      font-size: 1.778rem; }
    .login_div > div > div:nth-child(2) div:nth-child(2) {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1.5rem; }
      .login_div > div > div:nth-child(2) div:nth-child(2) input {
        padding: 0.9rem 1rem;
        width: 32%;
        border: 1px solid transparent;
        border-top-left-radius: 0.922rem;
        border-bottom-left-radius: 0.922rem;
        font-size: 1rem;
        font-weight: 400;
        color: #2b2b2b; }
        .login_div > div > div:nth-child(2) div:nth-child(2) input:focus-visible {
          outline: none; }
        .login_div > div > div:nth-child(2) div:nth-child(2) input::placeholder {
          font-weight: 400;
          color: #a5a4a4; }
      .login_div > div > div:nth-child(2) div:nth-child(2) label {
        display: flex;
        background-color: black;
        border: 1px solid transparent;
        border-top-right-radius: 0.922rem;
        border-bottom-right-radius: 0.922rem; }
        .login_div > div > div:nth-child(2) div:nth-child(2) label:hover {
          background-color: #3f3f3f; }
        .login_div > div > div:nth-child(2) div:nth-child(2) label img {
          padding: 1.167rem 1.278rem; }

.info {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; }
  .info > div {
    display: flex;
    position: absolute;
    background-color: #feffff;
    margin-top: 6rem;
    border: 1px solid transparent;
    border-radius: 0.8rem; }
    .info > div > div {
      margin: 2rem;
      margin-right: 0;
      padding-right: 3rem;
      border-right: 1px solid #d8d8d8;
      max-width: 11.333rem; }
      .info > div > div div h4 {
        font-size: 0.778rem;
        color: #979797;
        letter-spacing: 0.056rem; }
      .info > div > div div h2 {
        margin: 0;
        font-size: 1.444rem;
        font-weight: 500;
        padding-top: 0.8rem;
        color: #2b2b2b; }
      .info > div > div:last-child {
        border-right: 0; }

.map_div {
  z-index: 1; }

#map {
  height: 30.6rem; }

@media only screen and (max-width: 768px) {
  html {
    font-size: 18px; }

  .login_div > div {
    overflow: hidden; }
    .login_div > div:nth-child(1) img {
      width: auto; }
    .login_div > div > div:nth-child(2) div:nth-child(1) h1 {
      font-size: 1.389rem; }
    .login_div > div > div:nth-child(2) div:nth-child(2) input {
      width: 60%;
      font-size: 0.7rem; }

  .info > div {
    flex-direction: column;
    width: 73%;
    text-align: center !important;
    align-items: center !important;
    margin-top: 11rem; }
    .info > div > div {
      border: none !important;
      margin: 0 !important;
      padding: 0.278rem !important;
      padding-top: 1.222rem !important; }
      .info > div > div:last-child {
        padding-bottom: 1.222rem !important; }
      .info > div > div div h4 {
        font-size: 0.556rem !important; }
      .info > div > div div h2 {
        font-size: 1.111rem !important;
        padding-top: 0.6rem !important; }

  #map {
    height: 100vh; } }
@media only screen and (max-width: 576px) {
  .info > div {
    width: 76%; } }
@media only screen and (max-width: 375px) {
  .info > div {
    width: 85%; } }
.leaflet-control-container {
  display: none; }

/*# sourceMappingURL=style.css.map */
