@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  input {
    font-family: "Rubik", sans-serif;
  }
}
.login_div {
  > div {
    display: flex;
    justify-content: center;
    position: relative;
    &:nth-child(1) {
      img {
        width: 100%;
      }
    }
    > div {
      &:nth-child(2) {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.611rem;
        width: 100%;
        div {
          &:nth-child(1) {
            h1 {
              color: #feffff;
              font-weight: 500;
              font-size: 1.778rem;
            }
          }
          &:nth-child(2) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
            input {
              padding: 0.9rem 1rem;
              width: 32%;
              border: 1px solid transparent;
              border-top-left-radius: 0.922rem;
              border-bottom-left-radius: 0.922rem;
              font-size: 1rem;
              font-weight: 400;
              color: #a5a4a4;
              &:focus-visible {
                outline: none;
              }
              &::placeholder {
                font-weight: 400;
                color: #a5a4a4;
              }
            }
            label {
              display: flex;
              background-color: black;
              border: 1px solid transparent;
              border-top-right-radius: 0.922rem;
              border-bottom-right-radius: 0.922rem;
              img {
                padding: 1.167rem 1.278rem;
              }
            }
          }
        }
      }
    }
  }
}

.info {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  > div {
    display: flex;
    position: absolute;
    background-color: #feffff;
    margin-top: 2rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    > div {
      margin: 2rem;
      margin-right: 0;
      padding-right: 3rem;
      border-right: 1px solid #d8d8d8;
      max-width: 11.333rem;
      div {
        h4 {
          font-size: 0.778rem;
          color: #979797;
          letter-spacing: 0.056rem;
        }
        h2 {
          margin: 0;
          font-size: 1.444rem;
          font-weight: 500;
          padding-top: 0.8rem;
          color: #2b2b2b;
        }
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
}

.map_div{
  z-index: 1;
}

#map {
  height: 29.722rem;
}
