nav {
    a {
        color: #ffffff;
    }
    background-image: linear-gradient(291.45deg, #f83b7f -3.37%, #faaf1e 114.15%);

    .nav_links {
        display: flex;
        justify-content: flex-start;
        a {
            margin-right: 3.125rem;
            font-size: 1rem;
            font-weight: 400;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .nav_logo {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
    }

    .nav_membership {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 10;
        a {
            margin-right: 3.125rem;
            font-size: 1.25rem;
            line-height: 30px;
            font-weight: 400;
            line-height: 30px;

            &:last-child {
                margin-right: 0;
                border-radius: 7px;
                background-color: #ffffff;
                color: #000000;
                font-weight: 500;
                padding: 12px 36px;
                box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .promotion {
        color: #ffffff;
        text-align: center;
        padding-top: 50px;

        h1 {
            font-weight: 700;
            font-size: 5.625rem;
            line-height: 113%;
            padding-bottom: 30px;
        }
        h2 {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 113.5%;
            margin: 0 15%;
        }
    }
    .social_medias {
        display: flex;
        flex-direction: column;
        span {
            padding-bottom: 3.5rem;

            a {
                color: #ffffff;
            }
            &:last-child {
                padding-bottom: 7.5rem;
            }
        }
    }

    .ring {
        position: absolute;
        right: 0;
        top: 0;
    }
    .line_left {
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 12%;
    }
    .line_right {
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 12%;
    }
    .ball_1 {
        width: 28px;
        height: 28px;
        background-image: linear-gradient(99.25deg, #f82690 -85.14%, #faaf1e 186%);
        border: 3px solid #ffffff;
        border-radius: 20px;
        position: absolute;
        top: 40%;
        right: -5px;
    }
    .ball_2 {
        width: 28px;
        height: 28px;
        background: #ffffff;
        border: 3px solid #ffffff;
        border-radius: 20px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 20%;
        right: -14px;
    }
    .ball_3 {
        width: 20px;
        height: 20px;
        background-image: linear-gradient(99.25deg, #03a500 -85.14%, #faaf1e 186%);
        border: 3px solid #ffffff;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        right: 25%;
    }
    .phone_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
        img {
            position: absolute;

            &:nth-child(1) {
                left: 0;
                margin-left: 180px;
            }
            &:nth-child(3) {
                right: 0;
                margin-right: 180px;
            }
        }
    }
}
