@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif; }

a:hover {
  color: #da0f559e !important;
  transition: 0.4s; }
a img:hover {
  color: #da0f559e !important;
  transition: 0.4s; }

.row {
  align-items: center;
  padding-top: 30px;
  z-index: 10;
  position: relative; }
  .row div:nth-child(3) {
    z-index: 10; }

.container {
  padding-top: 200px; }

nav .container {
  padding-top: 0; }

.container_title {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 113.5%;
  text-align: center;
  color: #231f20; }

.container_text {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 113.5%;
  text-align: center;
  color: #121a27;
  margin: 0 15%; }

a {
  text-decoration: none; }

nav {
  background-image: linear-gradient(291.45deg, #f83b7f -3.37%, #faaf1e 114.15%); }
  nav a {
    color: #ffffff; }
  nav .nav_links {
    display: flex;
    justify-content: flex-start; }
    nav .nav_links a {
      margin-right: 1.5rem;
      font-size: 1rem;
      font-weight: 400; }
      nav .nav_links a:last-child {
        padding-right: 0; }
  nav .nav_logo {
    text-align: center;
    font-size: 3rem;
    font-weight: 700; }
  nav .nav_membership {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10; }
    nav .nav_membership a {
      margin-right: 1.5rem;
      font-size: 1.25rem;
      line-height: 30px;
      font-weight: 400;
      line-height: 30px; }
      nav .nav_membership a:hover {
        color: #F99930 !important; }
      nav .nav_membership a:last-child {
        margin-right: 0;
        border-radius: 7px;
        background-color: #ffffff;
        color: #000000;
        font-weight: 500;
        padding: 12px 36px;
        box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25); }
  nav .promotion {
    color: #ffffff;
    text-align: center;
    padding-top: 50px; }
    nav .promotion h1 {
      font-weight: 700;
      font-size: 5.625rem;
      line-height: 113%;
      padding-bottom: 30px; }
    nav .promotion h2 {
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 113.5%;
      margin: 0 15%; }
  nav .social_medias {
    display: flex;
    flex-direction: column; }
    nav .social_medias span {
      padding-bottom: 3.5rem; }
      nav .social_medias span a {
        color: #ffffff; }
        nav .social_medias span a i {
          font-size: 20px; }
      nav .social_medias span:last-child {
        padding-bottom: 7.5rem; }
  nav .ring {
    position: absolute;
    right: 0;
    top: 0; }
  nav .line_left {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 200%;
    position: absolute;
    top: 0;
    left: 12%; }
  nav .line_right {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 200%;
    position: absolute;
    top: 0;
    right: 12%; }
  nav .ball_1 {
    width: 28px;
    height: 28px;
    background-image: linear-gradient(99.25deg, #f82690 -85.14%, #faaf1e 186%);
    border: 3px solid #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    right: -5px; }
  nav .ball_2 {
    width: 28px;
    height: 28px;
    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 20%;
    right: -14px; }
  nav .ball_3 {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(99.25deg, #03a500 -85.14%, #faaf1e 186%);
    border: 3px solid #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: 25%; }
  nav .phone_nav {
    max-width: 1440px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px; }
    nav .phone_nav img {
      position: absolute;
      z-index: 10; }
      nav .phone_nav img:nth-child(1) {
        left: 0;
        margin-left: 180px;
        z-index: 9; }
      nav .phone_nav img:nth-child(3) {
        right: 0;
        margin-right: 180px;
        z-index: 9; }

.about_us, .download_app {
  position: relative; }
  .about_us .app_download_img img, .download_app .app_download_img img {
    max-width: 200px; }
  .about_us .app_download_img:nth-child(1), .download_app .app_download_img:nth-child(1) {
    text-align: end; }
  .about_us .app_download_img:nth-child(2), .download_app .app_download_img:nth-child(2) {
    text-align: start; }
  .about_us .about_us_title, .download_app .about_us_title {
    padding-top: 100px;
    padding-bottom: 100px; }
  .about_us .about_us_img div, .about_us .download_app_img div, .download_app .about_us_img div, .download_app .download_app_img div {
    display: flex;
    justify-content: center;
    position: relative; }
    .about_us .about_us_img div img, .about_us .download_app_img div img, .download_app .about_us_img div img, .download_app .download_app_img div img {
      z-index: 10; }
  .about_us .about_us_img span, .about_us .download_app_img span, .download_app .about_us_img span, .download_app .download_app_img span {
    left: auto;
    background-color: red;
    position: absolute;
    width: 90%;
    height: 58%;
    top: 20%;
    background-image: linear-gradient(285.76deg, #d90c56 16.91%, #ffd109 112.79%);
    box-shadow: -12px 12px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px; }
  .about_us .about_us_text h3, .about_us .download_app_text h3, .download_app .about_us_text h3, .download_app .download_app_text h3 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 113.5%;
    color: #231f20;
    padding-bottom: 16px; }
  .about_us .about_us_text h4, .about_us .download_app_text h4, .download_app .about_us_text h4, .download_app .download_app_text h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 124.5%;
    color: #73686b;
    padding-bottom: 30px; }
  .about_us .about_us_text button, .about_us .download_app_text button, .download_app .about_us_text button, .download_app .download_app_text button {
    background: #121a27;
    box-shadow: -12px 5px 30px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    color: #ffffff;
    padding: 19px 55px;
    border: 2px solid #121a27; }
    .about_us .about_us_text button:hover, .about_us .download_app_text button:hover, .download_app .about_us_text button:hover, .download_app .download_app_text button:hover {
      background-color: #ffffff;
      color: #121a27;
      transition: 0.4s;
      border: 2px solid #da0f559e; }
  .about_us .about_us_reverse-button button, .download_app .about_us_reverse-button button {
    color: #121a27;
    border: 2px solid #da0f559e;
    background-color: #ffffff; }
    .about_us .about_us_reverse-button button:hover, .download_app .about_us_reverse-button button:hover {
      background-color: #121a27;
      color: #ffffff;
      transition: 0.4s;
      border: 2px solid #121a27; }
  .about_us .about_us_ellipse_left, .download_app .about_us_ellipse_left {
    position: absolute;
    top: 0;
    left: 0; }
  .about_us .about_us_ellipse_right, .download_app .about_us_ellipse_right {
    position: absolute;
    bottom: -558px;
    right: 0; }
  .about_us .about_us_line, .download_app .about_us_line {
    position: absolute;
    top: 0;
    right: 0; }

.our_clients_title_img {
  padding-top: 80px; }
  .our_clients_title_img div div {
    text-align: center;
    padding-bottom: 35px; }

.teslimation_box {
  padding: 10px; }
  .teslimation_box > div {
    background: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px 30px; }
    .teslimation_box > div > h4 {
      opacity: 0.6;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 113.5%;
      color: #73686b;
      padding-bottom: 15px;
      margin-bottom: 0; }
    .teslimation_box > div > div {
      opacity: 1;
      display: flex;
      align-items: center; }
      .teslimation_box > div > div img {
        padding-right: 25px; }
      .teslimation_box > div > div div h4 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 113.5%;
        color: #231f20; }
      .teslimation_box > div > div div h5 {
        font-weight: 400;
        font-size: 1rem;
        line-height: 113.5%;
        color: #231f20; }

.faqs {
  position: relative; }
  .faqs .question_box {
    display: flex;
    align-items: center;
    background-color: #ededed;
    border-radius: 15px;
    padding: 55px;
    margin: auto;
    max-width: 70%;
    margin-top: 28px; }
    .faqs .question_box:first-child {
      margin-top: 0; }
    .faqs .question_box a {
      padding-right: 40px;
      color: #F99930; }
      .faqs .question_box a i {
        font-size: 60px; }
  .faqs .faqs_line {
    position: absolute;
    top: 0;
    right: 0; }

.download_app .download_app_text h2 {
  color: #231f20;
  font-size: 4rem;
  font-weight: 700;
  line-height: 113.5%; }
.download_app .download_app_text h4 {
  color: #121a27; }
.download_app .download_app_text div {
  display: flex; }
  .download_app .download_app_text div a:first-child {
    padding-right: 23px; }
  .download_app .download_app_text div a img {
    max-width: 200px; }
.download_app .download_app_img div {
  justify-content: flex-end; }

@media only screen and (max-width: 1400px) {
  html {
    font-size: 14px; } }
@media only screen and (max-width: 1024px) {
  html {
    font-size: 12px; }
    html .nav_links a {
      margin-right: 2rem; }
    html nav .promotion h2 {
      padding-bottom: 1rem; }
    html .phone_nav img:first-child, html .phone_nav img:last-child {
      display: none; } }
@media only screen and (max-width: 992px) {
  html nav > div > div > div:first-child {
    display: none; }
  html .nav_membership, html .nav_logo {
    display: flex;
    justify-content: center; }
  html .about_us_img div span {
    left: 30px; }
  html .about_us_img div img {
    width: 100%; }
  html .download_app_text {
    text-align: center; }
    html .download_app_text h2 {
      font-size: 5.625rem !important; }
    html .download_app_text div {
      justify-content: center; }
  html .download_app_img div {
    flex-direction: column;
    align-items: center; }
  html .question_box {
    max-width: 100% !important; } }
@media only screen and (max-width: 768px) {
  html .nav_membership a:last-child {
    padding: 4px; }
  html .container {
    padding-top: 100px; }
  html nav .container {
    padding-top: 0; }
  html .about_us_text button {
    padding: 10px 20px !important; } }
@media only screen and (max-width: 576px) {
  html {
    font-size: 10px; }
    html .container {
      padding-top: 50px; }
    html nav .container {
      padding-top: 0; }
    html .phone_nav img {
      width: 100%; }
    html .app_download_img {
      padding-bottom: 10px;
      text-align: center !important; }
      html .app_download_img img {
        width: 150px; }
    html .download_app_img div img {
      width: 100%; }
    html .download_app_text div a img {
      width: 150px; }
    html .about_us_img div span {
      width: 70% !important; }
    html .container_title {
      font-size: 4.5rem !important; }
    html .download_app_text h2 {
      font-size: 4.5rem !important; }
    html .about_us_text h4 {
      padding-bottom: 15px !important; } }
@media only screen and (max-width: 326px) {
  html {
    font-size: 8px; }
    html .promotion h1 {
      font-size: 4.5rem !important; }
    html .container_title {
      font-size: 4rem !important; }
    html .download_app_text h2 {
      font-size: 4rem !important; }
    html .download_app_text div {
      flex-direction: column; }
      html .download_app_text div a {
        padding: 0 !important; }
    html .our_clients_title_img div div img {
      width: 100% !important; } }

/*# sourceMappingURL=main.css.map */
