// fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

// color

body {
  margin: 0;
  font-family: "Bellefair";
  font-weight: 400;
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    &:hover {
      color: #fff;
      border-bottom: 3px solid rgba($color: #fff, $alpha: 0.5);
      @media screen and (max-width: 375px) {
        border-right: 3px solid rgba($color: #fff, $alpha: 0.5);
        border-bottom: 0!important; 

      }

    }
  }
}

// desktop

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    &:nth-child(1) {
      margin: 4rem 4rem 4rem 3.438rem;
      img {
      }
    }
    &:nth-child(2) {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      span {
        position: absolute;
        margin: 4rem 0;
        height: 2px;
        width: 107%;
        background-color: #ffffff;
        opacity: 0.25;
        z-index: 10;
      }
    }
    &:nth-child(3) {
      display: flex;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.7742px);

      a {
        padding: 2.438rem 0;
        font-size: 1rem;
        color: #fff;
        margin-right: 3rem;
        &:first-child {
          margin-left: 7.688rem;
        }
        &:last-child {
          margin-right: 10.313rem;
        }
        span {
          font-size: 1rem;
          padding-right: 0.75rem;
          font-weight: 700;
        }
      }
    }
    &:nth-child(4) {
      display: none;
    }
  }
}

.active-index {
  border-bottom: 3px solid #fff;

  @media screen and (max-width: 375px) {
    border-right: 3px solid #fff;
    border-bottom: 0;
  }
}

// 1200px

@media only screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}
// 992px
@media only screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

// Tablet
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  header {
    div {
      &:nth-child(1) {
        margin: 1.5rem 1.5rem 1.5rem 2.438rem;
      }
      &:nth-child(2) {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        span {
          display: none;
        }
      }
      &:nth-child(3) {
        a {
          font-size: 0.875rem;
          margin-right: 2.313rem;
          &:first-child {
            margin-left: 3rem;
          }
          &:last-child {
            margin-right: 2.875rem;
          }
          span {
            display: none;
          }
        }
      }
    }
  }
  .title {
    margin: 2.5rem 0px 3.75rem 2.406rem !important;
    h2,
    span {
      font-size: 1.25rem !important;
    }
  }
}

// 576px
@media only screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
}

// Mobil
@media only screen and (max-width: 375px) {
  html {
    font-size: 16px;
  }
  header {
    div {
      &:nth-child(1) {
        margin: 2.063rem 1.5rem;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        display: block;
        div {
          &:nth-child(1) {
            margin: 2.063rem 1.5rem;
            // z-index: 1;
          }
          &:nth-child(2) {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            width: 67.73%;
            // z-index: 10;
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(40.7742px);
            display: none;
            > div {
              display: flex;
              flex-direction: column;
              padding-top: 7.375rem;
              padding-left: 2rem;
              margin: 0;
              a {
                font-size: 1rem;
                color: #fff;
                margin-bottom: 2rem;
                display: flex;
                letter-spacing: 0.169rem;
                &:nth-child(1) {
                  position: absolute;
                  top: 0;
                  right: 0;
                  margin-top: 2.863rem;
                  margin-right: 1.7rem;
                }
                span {
                  display: block;
                  padding-right: 0.688rem;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }

  .title {
    margin: 2.5rem 4.75rem 3.75rem 4.75rem !important;
    text-align: center; 
    h2,
    span {
      font-size: 1rem !important;
      letter-spacing: 2.7px !important;
    }
    span {
      padding-right: 1.125rem !important;
    }
  }
}

// custom className

.title {
  margin-left: 10.688rem;
  color: #fff;
  display: flex;
  align-items: baseline;
  font-family: "Barlow Condensed";
  letter-spacing: 4.725px;
  margin-bottom: 4rem;
  text-transform: uppercase;

  span {
    font-size: 1.75rem;
    color: #ffffff;
    opacity: 0.25;
    padding-right: 1.75rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.75rem;
    color: #ffffff;
  }
}


.loading_animation{
  animation-name: loading;
  animation-duration: 1.5s;
}


@keyframes loading {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}