.background {
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
}

.navbar {
  margin: 2.5rem 0 0 3.438rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__line {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    span {
      position: absolute;
      margin: 4rem 0;
      height: 1px;
      width: 95%;
      background-color: $white;
      opacity: 0.25;
      z-index: 10;
      left: 4rem;
    }
  }
  &__desktopMenu {
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(2.548rem);
    backdrop-filter: blur(2.548rem);
    padding: 0 10.313rem 0 7.688rem;
    display: flex;
    a {
      color: $white;
      margin-right: 3rem;
      padding: 2.375rem 0;
      &:last-child {
        margin-right: 0;
      }
      span {
        font-weight: bold;
        padding-right: 0.688rem;
      }

      &:hover {
        border-bottom: 3px solid rgba($color: $white, $alpha: 0.5);
      }
    }
  }
  &__mobilMenu {
    display: none;
  }
  &__inner {
    display: none;
  }
}

.active {
  border-bottom: 3px solid $white !important;
  opacity: 1 !important;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .navbar {
    margin: 0 0 0 2.438rem;
    &__desktopMenu {
      padding: 0;
      a {
        margin-right: 2.313rem;
        padding: 2.438rem 0;
        font-size: 0.875rem;
        &:first-child {
          margin-left: 3rem;
        }
        &:last-child {
          margin-right: 3rem;
        }
        span {
          display: none;
        }
      }
    }
    &__line {
      display: none;
    }
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  .navbar {
    &__logo {
      img {
        width: 40px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 16px;
  }
  .navbar {
    margin: 1.5rem;

    &__desktopMenu {
      display: none;
    }
    &__mobilMenu {
      display: block;
    }
    &__inner {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.04);
      -webkit-backdrop-filter: blur(2.548rem);
      backdrop-filter: blur(2.548rem);
      padding: 7.375rem 0 0 2rem;
      height: 100%;
      width: 15.875rem;
      box-sizing: border-box;
      z-index: 10;
      &--closed {
        position: absolute;
        right: 1.625rem;
        top: 2.063rem;
      }
      &--buttons {
        display: flex;
        flex-direction: column;
        a {
          margin-bottom: 2rem;
          color: $white;
          span {
            padding-right: 0.688rem;
            font-weight: bold;
          }
          &:hover {
            border-right: 4px solid rgba($color: $white, $alpha: 0.5);
          }
        }
      }
    }
  }
  .active {
    border-bottom: none !important;
    border-right: 4px solid $white !important;
    opacity: 1 !important;
  }
}

.loading_animation {
  position: relative;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
