@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
body {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.h1,
.h2,
.h3,
.h4,
.s1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  text-transform: uppercase; }

.h5,
.s2,
.nav_text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.h1 {
  font-size: 9.375rem; }

.h2 {
  font-size: 6.25rem; }

.h3 {
  font-size: 3.5rem; }

.h4 {
  font-size: 2rem; }

.h5 {
  font-size: 1.75rem;
  letter-spacing: 0.297rem; }

.s1 {
  font-size: 1.75rem; }

.s2 {
  font-size: 0.875rem;
  letter-spacing: 0.147rem; }

.nav_text {
  font-size: 1rem;
  letter-spacing: 0.169rem; }

.p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem; }

@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 5rem; }

  .h5 {
    font-size: 1.25rem;
    letter-spacing: 0.211rem; }

  .nav_text {
    font-size: 0.875rem;
    letter-spacing: 0.148rem; }

  .p {
    font-size: 1rem;
    line-height: 1.75rem; } }
@media only screen and (max-width: 375px) {
  .h1 {
    font-size: 5rem; }

  .h2 {
    font-size: 3.5rem; }

  .h4 {
    font-size: 1.25rem; }

  .h5 {
    font-size: 1rem;
    letter-spacing: 0.169rem; }

  .p {
    font-size: 0.938rem;
    line-height: 1.563rem; } }
.background {
  background-repeat: no-repeat;
  background-size: cover; }

.navbar {
  margin: 2.5rem 0 0 3.438rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__desktopMenu {
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(2.548rem);
    backdrop-filter: blur(2.548rem);
    padding: 2.375rem 10.313rem 2.375rem 7.688rem; }
    .navbar__desktopMenu a {
      color: #ffffff;
      margin-right: 3rem;
      padding: 2.375rem 0; }
      .navbar__desktopMenu a:last-child {
        margin-right: 0; }
      .navbar__desktopMenu a span {
        font-weight: bold;
        padding-right: 0.688rem; }
      .navbar__desktopMenu a:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5); }
  .navbar__mobilMenu {
    display: none; }
  .navbar__inner {
    display: none; }

.active {
  border-bottom: 3px solid #ffffff !important;
  opacity: 1 !important; }

@media only screen and (max-width: 992px) {
  html {
    font-size: 11px; } }
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px; }

  .navbar {
    margin: 0 0 0 2.438rem; }
    .navbar__desktopMenu {
      padding: 2.438rem 0; }
      .navbar__desktopMenu a {
        margin-right: 2.313rem;
        padding: 2.438rem 0;
        font-size: 0.875rem; }
        .navbar__desktopMenu a:first-child {
          margin-left: 3rem; }
        .navbar__desktopMenu a:last-child {
          margin-right: 3rem; }
        .navbar__desktopMenu a span {
          display: none; } }
@media only screen and (max-width: 576px) {
  html {
    font-size: 10px; }

  .navbar__logo img {
    width: 40px; } }
@media only screen and (max-width: 375px) {
  html {
    font-size: 16px; }

  .navbar {
    margin: 1.5rem; }
    .navbar__desktopMenu {
      display: none; }
    .navbar__mobilMenu {
      display: block; }
    .navbar__inner {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.04);
      -webkit-backdrop-filter: blur(2.548rem);
      backdrop-filter: blur(2.548rem);
      padding: 7.375rem 0 0 2rem;
      height: 100%;
      width: 15.875rem;
      box-sizing: border-box;
      z-index: 10; }
      .navbar__inner--closed {
        position: absolute;
        right: 1.625rem;
        top: 2.063rem; }
      .navbar__inner--buttons {
        display: flex;
        flex-direction: column; }
        .navbar__inner--buttons a {
          margin-bottom: 2rem;
          color: #ffffff; }
          .navbar__inner--buttons a span {
            padding-right: 0.688rem;
            font-weight: bold; }
          .navbar__inner--buttons a:hover {
            border-right: 4px solid rgba(255, 255, 255, 0.5); }

  .active {
    border-bottom: none !important;
    border-right: 4px solid #ffffff !important;
    opacity: 1 !important; } }
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4.75rem 10.406rem 0 10.406rem; }
  .main__promotion {
    display: flex;
    flex-direction: column; }
    .main__promotion h5 {
      color: #ffffff; }
      .main__promotion h5 span {
        opacity: 0.25;
        font-weight: bold;
        padding-right: 1.75rem; }
  .main__explore {
    display: flex;
    flex-direction: column;
    margin-top: 6.063rem;
    width: 50%; }

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    margin: 2.5rem 2.406rem 3.75rem 2.406rem; }
    .main__promotion {
      width: 100%;
      align-items: center; }
      .main__promotion h5 {
        width: 100%; }
        .main__promotion h5 span {
          padding-right: 1.188rem; }
    .main__explore {
      width: 100%;
      align-items: center; } }
@media only screen and (max-width: 375px) {
  .main {
    margin: 1.5rem 0 0 0;
    text-align: center; }
    .main__explore {
      margin-top: 1.625rem; } }
.active_transitions {
  border-right: none;
  border-bottom: 3px solid #ffffff; }

.background {
  background-image: url(../img/technology/bg.jpg); }

.main {
  flex-direction: row-reverse;
  position: relative;
  margin-right: 0;
  margin-bottom: 5rem; }
  .main__promotion {
    align-items: flex-end; }
    .main__promotion h5 {
      position: absolute;
      left: 0;
      top: 0; }
  .main__explore {
    flex-direction: row; }
    .main__explore .explore-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 5rem; }
      .main__explore .explore-menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        border-radius: 50%;
        color: #ffffff;
        font-size: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.25);
        margin-bottom: 2rem; }
        .main__explore .explore-menu a:last-child {
          margin-bottom: 0; }
    .main__explore .explore-inner__text h4 {
      color: #d0d6f9;
      margin-bottom: 0.688rem; }
    .main__explore .explore-inner__text h3 {
      color: #ffffff;
      margin-bottom: 1.063rem; }
    .main__explore .explore-inner__text p {
      color: #d0d6f9;
      width: 93%; }

.tablet_img {
  display: none; }

.active_transitions {
  background-color: #ffffff !important;
  color: #0b0d17 !important; }

@media only screen and (max-width: 1200px) {
  .main {
    margin-left: 3rem; }
    .main__promotion img {
      width: 80%; }
    .main__explore .explore-menu a {
      margin-bottom: 0 !important; } }
@media only screen and (max-width: 992px) {
  .main {
    margin-left: 2.406rem; }
    .main__promotion img {
      width: 70%; }
    .main__explore a {
      width: 3rem;
      height: 3rem; } }
@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    margin-left: 0; }
    .main__promotion {
      align-items: center; }
      .main__promotion h5 {
        position: static;
        margin-bottom: 3.75rem; }
        .main__promotion h5 span {
          margin-left: 2.406rem; }
      .main__promotion img {
        margin-bottom: 3.5rem; }
    .main__explore {
      flex-direction: column;
      margin-top: 0; }
      .main__explore .explore-menu {
        margin-right: 0;
        flex-direction: row;
        margin-bottom: 2.75rem; }
        .main__explore .explore-menu a {
          width: 3.75rem;
          height: 3.75rem;
          margin-right: 1rem; }
      .main__explore .explore-inner {
        text-align: center; }
        .main__explore .explore-inner__text {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .main__explore .explore-inner__text p {
            width: 60%; }

  .tablet_img {
    display: block;
    width: 100% !important; }

  .desktop_img {
    display: none; } }
@media only screen and (max-width: 375px) {
  .main__promotion h5 span {
    margin-left: 0; }
  .main__promotion img {
    margin-bottom: 2.125rem; }
  .main__explore .explore-menu {
    margin-bottom: 1.625rem; }
    .main__explore .explore-menu a {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem; }
  .main__explore .explore-inner__text h4 {
    font-size: 0.875rem; }
  .main__explore .explore-inner__text h3 {
    font-size: 1.5rem; }
  .main__explore .explore-inner__text p {
    width: 90%;
    font-size: 0.938rem; } }

/*# sourceMappingURL=technology.css.map */
