.course_platform_section_img{
    div{
        display: flex;
        justify-content: space-between;
        padding: 130px 0;
        border-top:  1px solid #555555;
        border-bottom:  1px solid #555555;
        img{
            width: auto;
        }
    }
}