.first_information_section {


    .container{
        padding-top: 130px;

        .row{
        align-items: center;
        }
    }
    .first_information_section_button{
        display: none;
    }
    .first_information_section_text {
        h2 {
            font-weight: 700;
            font-size: 4rem;
            line-height: 77px;
            color: #000000;
        }
    }
    .first_information_section_img {
        img {
            width: 100%;
        }
    }
}
