nav {
    background-color: #fdf6eb;
    padding-top: 65px;
 
}

.navbarUtku {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-size: 1.25rem;

    .nav_logo {
    }
    .nav_menu {
        text-align: center;
        a {
            padding-right: 57px;
            font-size: 1.25rem;
            font-weight: 400;
            color: #010101;

            &:last-child {
                padding-right: 0;
            }
        }
    }

}
