nav {
    background-color: #fdf6eb;
 
}

.navbarUtku {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-size: 1.25rem;

    .nav_logo {
    }
    .nav_menu {
        text-align: center;
        a {
            padding-right: 57px;
            font-size: 1.25rem;
            font-weight: 400;
            color: #010101;

            &:last-child {
                padding-right: 0;
            }
        }
    }
    .nav_login {
        position: relative;
        border: 1px solid black;
        text-align: end;
        padding-left: 7px;
        padding-bottom: 5px;
       
 
        div {

            padding: 12px 30px;
            border: 1px solid #010101;
            background-color: #010101;
            
            a {
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 24px;
                color: #ffffff;
            }
        }
    }
}
