@media only screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}
@media only screen and (max-width: 992px) {
    html {
        font-size: 10px;
        h1,
        h2,
        h3,
        h4,
        h5 {
            line-height: normal !important;
        }
    }
    .nav_menu {
        a {
            padding-right: 10px !important;
        }
    }
    #email {
        padding: 15px 8px !important;
    }
    #submit {
        padding: 5px 15px !important;
    }
    .fourth_information_users{
        padding-top: 50px!important;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .container_space {
        padding-bottom: 40px;
    }
    .navbarUtku {
        flex-direction: column;
        .nav_logo {
            padding-bottom: 32px;
        }
        .nav_login {
            display: none;
        }
    }
    .promotion_section {
        padding-bottom: 0;
        .container {
            div {
                &:nth-child(2) {
                    position: static;
                    img {
                        width: 100%;
                    }
                }
                &:nth-child(3) {
                    bottom: -400px;
                    top: auto;
                    img {
                        width: auto;
                    }
                }
            }
            .row {
                justify-content: center;

                .promotion_contents {
                    .button {
                        display: none;
                    }
                }
            }
        }
    }
    .first-information-section {
        .container {
            padding-top: 40px;
        }
    }
    .first-information-section_button {
        display: flex !important;
        justify-content: center;
        padding-bottom: 100px;
        > div {
            width: 100%;
            button {
                width: 100%;
            }
        }
    }
    .first-information-section_img {
        padding-bottom: 40px;
    }

    .second-information-section_information {
        .button {
            width: 100%;
            margin-top: 40px;
            margin-bottom: 30px;
            button {
                width: 100%;
            }
        }
    }

    .second-information-section_promotion {
        div {
            div {
                margin: 10px 0;
                img {
                    padding-bottom: 25px;
                }
                h4 {
                    padding-bottom: 10px;
                }
                h5 {
                    padding: 0;
                }
            }
        }
    }
    .second-information-section {
        .container {
            padding-top: 40px;
        }
    }
    .owl-item {
        h2,
        h4 {
            min-height: 0 !important;
        }
    }
    .third_information_section_info {
        padding: 0 50px 50px 0 !important;
    }
    .fourth_information_info {
        h5 {
            text-align: center !important;
        }
        div {
            div {
                padding-bottom: 30px;
            }
        }
    }
    .subscribe_section {
        .container {
            padding: 60px 50px !important;
            .row {
                div {
                    &:nth-child(1) {
                        text-align: center !important;
                        padding-bottom: 30px !important;
                    }
                }
            }
        }
    }
    .course_platform_section_img {
        > div {
            div {
                padding: 0 15px 15px 15px;
                &:nth-child(3) {
                    margin-left: -5vw;
                }
                &:nth-child(4) {
                    margin-right: -5vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 8px;
        ul{
            li{
                line-height: 18px!important;
            }
        }
    }
    .container {
        padding: 0 40px;
    }

    .first-information-section_text {
        padding: 0 50px;
        text-align: center;
        h2 {
            font-size: 1rem !important;
            line-height: normal !important;
        }
    }
    .fourth_information_info {
        padding: 0 !important;
        h2 {
            text-align: center;
            padding-top: 20px;
        }
    }
    .course_platform_section_img {

        .row {
            padding: 22px 0px!important;
            div {
                img {
                    width: 100% !important;
                }
            }
        }
    }
    .promotion_contents {
        h1 {
            padding-bottom: 12px !important;
            font-size: 4rem!important;
        }
        h1,h3{
            text-align: center!important;
        }
    }
    .second-information-section_promotion {
        div {
            div {
                h5 {
                    min-height: 30px;
                }
            }
        }
    }
    .third_information_section{
        .container{
           > div{
                &:nth-child(3){
                    left: 30vh;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    .owl-item {
        h2 {
            min-height: 100px !important;
        }
        h4 {
            min-height: 50px !important;
        }
        button {
            padding: 4px 12px !important;
        }
    }
    .subscribe_section {
        .container {
            padding: 30px 25px !important;
        }
    }
}
