.second-information-section_information {
    h2 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 77px;
        color: #000000;
    }
    h3 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 43px;
        color: #000000;
    }
}

.second-information-section_promotion {
    div {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 25px 100px 25px;
            background: linear-gradient(
                322.09deg,
                #63e3ff 0%,
                rgba(253, 246, 235, 0) 140.54%,
                rgba(99, 227, 255, 0) 140.54%
            );
            img {
                width: 70%;
                padding-bottom: 45px;
            }
            h4 {
                padding-bottom: 25px;
                font-weight: 700;
                font-size: 1rem;
                line-height: 19px;
                color: #000000;
            }
            h5 {
                font-weight: 400;
                font-size: 0.813rem;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #000000;
                padding: 0 35px;
                text-align: center;
            }
        }
    }
}

.second-information-section {
    background-color: #fdf6eb;

    .container {
        padding-top: 130px;
    }
}

.item {
    > div {
        padding: 0 17px;
        img {
            padding-bottom: 35px;
        }
        h2 {
            padding-bottom: 20px;
            font-weight: 700;
            font-size: 2rem;
            line-height: 38px;
            color: #000000;
        }
        h4 {
            padding-bottom: 30px;
            font-weight: 250;
            font-size: 1.25rem;
            line-height: 43px;
            color: #000000;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                img {
                    width: 25px !important;
                    padding-bottom: 0px !important;
                }
            }
        }
    }
}

.owl-dots{
    padding-top: 70px!important;
}

.owl-dot{
    padding: 5px!important;
    border: 1px solid black!important;
    margin: 0 10px!important;

    span{
    border-radius: 0!important;
    margin: 0!important;
    width: 20px!important;
    height: 20px!important;

    &:hover{
        background: #000000!important;
    }
    }
}

.owl-dot.active{
    span{
        background: #000000!important;
    }
}

.owl-nav{
    display: none!important;
}
