.subscribe_section {
    .container {
        position: relative;
        background-color: #fedc98;
        padding: 120px 100px;

        .row{
            align-items: center;
        }
        > div {
            &:nth-child(1) {
                div {
                    &:nth-child(1) {
                        h2 {
                            font-weight: 700;
                            font-size: 4rem;
                            line-height: 77px;
                            color: #000000;
                        }
                    }
                }
            }
            &:nth-child(2) {
                position: absolute;
                top: 0;
            }
        }
    }
}

form {
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
}

#email {
    padding: 26px 18px;
    font-size: 1rem;
    width: 100%;

}

#submit {
    position: absolute;
    right: 10px;
    padding: 12px 40px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background-color: #00d1ff;
    border: 1.7px solid #000000;
}
