@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(180, 52%, 96%);
}
h2,
h3,
span {
  margin: 0;
}

.header_img {
  display: flex;
  position: relative;
  background-color: hsl(180, 29%, 50%);
  img {
    width: 100%;
  }
  > div {
    position: absolute;
    width: 100%;
    bottom: -2.366rem;
    display: none;
    align-items: center;
    justify-content: center;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 26px 22px -15px #5ba4a445;
      width: 76%;
      height: 4.733rem;
      background-color: white;
      border-radius: 0.6rem;
      > div {
        display: flex;
        align-items: center;
        &:first-child {
          margin-left: 2.667rem;
          > div {
            display: flex;
            margin-right: 1.067rem;
            span {
              list-style-type: none;
              padding: 0.6rem;
              background-color: hsl(180, 31%, 95%);
              color: hsl(180, 29%, 50%);
              font-weight: 700;
              &:first-child {
                border-top-left-radius: 0.2rem;
                border-bottom-left-radius: 0.2rem;
              }
              &:last-child {
                border-top-right-radius: 0.2rem;
                border-bottom-right-radius: 0.2rem;
                padding: 0.4rem !important;
                color: #ffffff;
                background-color: hsl(180, 29%, 50%);
                font-size: 1.333rem;
                &:hover {
                  background-color: #2c3a3a;
                }
              }
            }
          }
        }
        &:last-child {
          margin-right: 2.667rem;
          span {
            color: hsl(180, 8%, 52%);
            font-weight: 700;
            font-size: 1.067rem;
            &:hover {
              color: hsl(180, 29%, 50%);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.box_div {
  text-align: center;
  width: 76%;
  margin: auto;
  margin-top: 5rem;
  .out_box {
    padding-bottom: 1.6rem;
    background-color: #effafa;
    .box {
      background-color: hsl(0, 0%, 100%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.067rem 2.667rem;
      box-shadow: 0px 26px 22px -15px #5ba4a445;
      border-radius: 0.6rem;
      position: relative;
      .users_div {
        display: flex;
        > div {
          &:first-child {
            margin-right: 1.667rem;
          }

          &:last-child {
            .users_name {
              display: flex;
              align-items: center;
              align-items: center;
              h3 {
                color: hsl(180, 29%, 50%);
                margin-right: 1.067rem;
              }
              span {
                margin-right: 0.533rem;
                font-size: 0.9rem;
                padding: 0.533rem 0.533rem 0.333rem 0.533rem;
                background-color: hsl(180, 29%, 50%);
                color: hsl(0, 0%, 100%);
                border-radius: 0.8rem;
                font-weight: 600;

                &:last-child {
                  background-color: hsl(180, 14%, 20%);
                }
              }
            }
            .users_rank {
              margin: 0.733rem 0;
              h2 {
                text-align: start;
                &:hover {
                  color: #5ba4a4;
                }
              }
            }
            .users_info {
              display: flex;
              text-align: start;
              justify-content: space-between;
              span {
                font-size: 1.2rem;
                color: hsl(180, 8%, 52%);
                font-weight: 500;
                &:nth-child(2),
                &:nth-child(3) {
                  &::before {
                    content: "\2022";
                    color: hsl(180, 8%, 52%);
                    display: inline-block;
                    width: auto;
                    padding: 0 0.867rem;
                    font-size: 1.1rem;
                    opacity: 0.6;
                  }
                }
              }
            }
          }
        }
      }
      .tags_div {
        ul {
          display: flex;
          li {
            list-style-type: none;
            padding: 0.6rem;
            background-color: hsl(180, 31%, 95%);
            color: hsl(180, 29%, 50%);
            margin-right: 1.067rem;
            border-radius: 0.2rem;
            font-weight: 700;
            &:hover {
              background-color: #5ba4a4;
              color: white;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

.line {
  &::after {
    content: "";
    position: absolute;
    width: 0.333rem;
    height: 100%;
    background-color: hsl(180, 29%, 50%);
    left: 0;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    top: 0;
  }
}

@media only screen and (max-width: 1160px) {
  html {
    font-size: 12px;
  }
  img {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 9px;
  }
  img {
    width: 65%;
  }
}

// mobil
@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .box_div {
    margin-top: 4rem;
    width: 88%;
    .out_box {
      padding-bottom: 3rem !important;
      .box {
        flex-direction: column;
        align-items: center;
        padding: 3.067rem 1.667rem 1.067rem 1.667rem !important;
        .users_div {
          justify-content: center;
          > div {
            &:first-child {
              position: absolute;
              bottom: 89%;
              margin: 0;
              img {
                width: 54%;
              }
            }
            &:last-child {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
          .users_name {
            h3 {
              margin-right: 1.967rem !important;
            }
            span {
              font-size: 1.14rem !important;
              border-radius: 1rem !important;
            }
          }
          .users_rank {
            margin: 0.933rem 0 !important;
            h2 {
              font-size: 1.15rem;
            }
          }
          .users_info {
            padding: 0.6rem 0 1.231rem 0;
            justify-content: flex-start !important;
          }
        }
        .tags_div {
          ul {
            justify-content: center;
            border-top: 1px solid hsl(180, 8%, 52%);
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            padding-top: 1.231rem !important;
            li {
              font-size: 1.2rem;
              margin-bottom: 1.231rem;
            }
          }
        }
      }
      .line {
        &::after {
          width: 0.433rem;
        }
      }
    }
  }

  #filter_box {
    bottom: -6.366rem;
    > div {
      height: auto;
      width: 88%;
      padding: 1.238rem 0;
      #filter_button {
        padding: 0 1rem;
        flex-wrap: wrap !important;
        margin: 0 !important;
        justify-content: center;

        div {
          padding: 0.615rem 0.6rem !important;
          margin: 0 !important;
          span {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .box {
    align-items: flex-start !important;
    .users_div {
      justify-content: flex-start !important;
      div {
        &:first-child {
          left: 0;
        }
        &:last-child {
          align-items: flex-start !important;
        }
      }
    }
    .tags_div {
      ul {
        justify-content: flex-start !important;
      }
    }
  }
  #filter_button {
    justify-content: flex-start!important;
  }
}

@media only screen and (max-width: 320px) {
  html{
    font-size: 9px;
  }
}


.responsive_boxs{
  @media only screen and (max-width: 768px) {
    margin-top: 10rem;
  }
}